!package-lock.json
build
dist
dist-electron
**/node_modules
.DS_Store
/.tmp*
.swp
.swo
/static-app.json
*.orig
.vscode
*.log
test-reports
tests/testcafe/results
TestResult
ZimbraCryptoHelper*
PSTExtractor*
